/* src/components/Header.css */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff; /* Couleur de fond */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optionnel, pour un léger effet d'ombre */
	z-index: 1000; /* Pour être au-dessus du reste du contenu */
  }

  .header__logo h1 {
	margin: 0;
  }

  .header__auth {
	display: flex;
	gap: 10px;
  }

  .header-button {
	padding: 8px 16px;
	border: none;
	background-color: #007BFF;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
  }

  .header-button:hover {
	background-color: #0056b3;
  }
